.skills{
    background-image: var(--first-gradient);
}

.skills__container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
}

.skills__titles,
.skills__description{
    padding-inline: 30px;
}

.skills__description{
    min-height: 100px;
}


.skills__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills__name {
    font-size: var(--largest-font-size);
}

.skills__number {
    font-size: var(--tittle-font-size);
}

.skills__description {
    font-size: var(--small-font-size);
    margin-bottom: 30px;
}

.skills__bar,
.skills__percentage {
    height: 2px;
}

.skills__bar {
    background: rgba(255, 255, 255, 0.2) ;
}

.skills__percentage {
    background-color: var(--primary-color);
    display: block;
    position: relative;
}

.skills__percentage span {
    color: var(--primary-color);
    font-size: 32px;
    position: absolute;
    right: -6px;
    top: -18px;
}